PORT=3001
CORS_ORIGIN=http://localhost:3000

DB_HOST=localhost
DB_PORT=3306
DB_CONNECTION_LIMIT=25
DB_USER=root
DB_PASSWORD=
DB_NAME=cami_kids_web

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
